.main-footer {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
}

.main-footer__rights {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}