.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 90px 20px;
}

.commentaries__box {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 80px 0px;
    gap: 20px;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .wrapper {    
        padding: 90px 200px;
    }
}